 1# Compiled Object files, Static and Dynamic libs (Shared Objects)
 2*.o
 3*.a
 4*.so
 5
 6# Folders
 7_obj
 8_test
 9
10# Architecture specific extensions/prefixes
11*.[568vq]
12[568vq].out
13
14*.cgo1.go
15*.cgo2.c
16_cgo_defun.c
17_cgo_gotypes.go
18_cgo_export.*
19
20_testmain.go
21
22*.exe
23*.test
24
25/public
26.DS_Store
27.hugo_build.lock
28resources/_gen/
